/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

@theme {
  --color-canvas:  #EDF1F6;
  --color-mist: #7096D1;
  --color-cornflower: #081F5C;
  --color-pear: #D0E3FF;
}
